html{
    background-color: #000000;
    color: aliceblue;
    scroll-behavior: smooth;
}

body{
    font-family: Corbel, serif;
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

/* Chrome, Safari and Opera (scrollbar)*/
body::-webkit-scrollbar {
    display: none;
}

img {
    border-radius: 5px;

}

.main {
    background: url("../img/modely-main/Rozptyl-stran-Trumpwallpapers - Japan Wallpapers.png"), no-repeat, center;
    background-position-y: bottom;
    background-size: cover;
    padding: 0;
}

.mainBox {
    display: grid;
    height: 70vh;
    align-content: center;
    margin: 0;
}

.mainText {
    text-align: center;
    color: aliceblue;
}

.mainText h1{
    font-weight: bolder;
    font-size: 150px;
    line-height: 0
}

.mainText h2{
    font-weight: bold;
    font-size: 90px;
    line-height: 0

}

.mainText h3{
    font-style: italic;
    font-weight: initial;
    font-size: 50px;
    line-height: 0;
    font-family: "Arial Rounded MT Bold", serif;
}

.mainText img {
    padding-top: 0;
    height: 150px;
}
.arrowDown{
    height: 150px;
}

/*NAVBAR*/

.navbar {
    background-color: #000000;
    top: 0;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}

.navbar a {
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: white;
    color: black;
}

.modely {
    padding: 20px;
    display: grid;
    background-color: #1a001a;
    border-radius: 20px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto;
    background-color: black;
    padding: 0 10px 10px;
    column-gap: 10px;
}

.modely img {
    text-align: center;
    padding: 30px;
    border-radius: 35px;
    height: 200px;
}

.modely h1 {
    font-style: oblique;
    font-size: 20px;
}

.center {
    text-align: center;
    font-weight: bolder;
    color: white;
}

.center a {
    color: white;
    padding-right: 8px;
    padding-left: 8px;
}

#GT-R {
    scroll-margin-block-start: 75px;
}
#AE86 {
    scroll-margin-block-start: 75px;
}
#silvia {
    scroll-margin-block-start: 75px;
}
#supra {
    scroll-margin-block-start: 75px;
}
#MR-2 {
    scroll-margin-block-start: 75px;
}
